@charset "utf-8"!important;
/* CSS Document */


/* Screen Size: 768px to 960px */
@media screen and (min-width: 855px) and (max-width: 1090px)
{
	#wrapper, #footer_wrapper { width: 768px!important; }
	
	#navigation,
	#header,
	#featured_project { width: 748px!important; }
	
	#header h1{
		font-size: 25px!important;
	}
	
	#title {
		width: 350px!important;
		padding-left: 24px!important;
	}
	
	#menu {
		width: 346px!important;
		padding-right: 28px!important;
	}
	
	#works,
	#works_home,
	#biography,
	#footer,
	#copyright,
	#awards
	{ width: 695px!important; }
	
	#awards_first,
	#awards_second,
	#awards_third,
	#awards_fourth{
		width: 50%!important;
	}
	
	#awards_third,
	#awards_fourth{
		padding: 20px 0 30px!important;
	}
	
	#awards_first img,
	#awards_second img,
	#awards_third img,
	#awards_fourth img{
		max-width: 100%!important;
	}
	
	#works, #works_home {padding: 39px 32px 0px 28px!important; }
	
	#works_home img,
	#featured_project img {
		max-width: 100%!important;
	}

	#works #description{
		width: 20%!important;
	}
	
	#works .filter li a{
		font-size: 12px!important;
	}

	#works #gallery{
		width: 75%!important;
	}

	#biography { 
		padding-top: 8px!important;  
		min-height: 100px!important;	
		padding-bottom: 90px!important;
	}
	
	#bio_slider {
		width: 46%!important;
		padding-right: 20px!important;
	}
	
	#bio_slider img { 
		width: 100%!important; 
		padding-bottom: 10px!important; 
	}
	
	#experience, #personal_info { 
		width: 48%!important; 
		padding-left: 11px!important;
		height: auto!important;
		min-height: 100px!important;	
	}
	
	#experience h5, #personal_info h5{ 
		text-align: left!important;
		font-size: 11px!important;
	 }
	 
	 #contact, #email { 
		width: 150px!important; 
		padding-right: 20px!important;
	}
	
	#message {
		width: 156px!important;
		padding-right: 21px!important;
	}
	
	input, textarea {
		width: 150px!important;
		padding: 5px 0 5px 6px!important;
	}
	
	#otherworks {
		width: 171px!important;
	}
	
	#otherworks img {
		width: 78px!important;
		height: 36px!important;
		margin: 2px 5px 11px 0!important;
	}
	
	textarea { height: 58px!important; }
	
} /* End Screen Size: 768px to 800px */


/* Screen Size: 680px to 854px */
@media screen and (min-width: 680px) and (max-width: 854px)
{
	h4 { font-size: 16px!important; }
	
	#wrapper, #footer_wrapper { width: 680px!important; }
	
	#navigation, #header, #featured_project { width: 660px!important; }
	
	#navigation { height: 50px!important; }
	
	#title, #menu { margin-bottom: -5px!important; }
	
	#title {
		width: 300px!important;
		float:left!important;
	}
	
	#menu {
		width: 300px!important;
		float: right!important;
	}
	
	#menu ul {
		padding-top: 6px!important;
	}

	#menu ul li {
		font-weight: bold!important;
		padding: 0 10px!important;
		display: inline!important;
		font-size: 12px!important;
		text-transform: uppercase!important;
	}
	
	#header h1 { padding-top: 30px!important; font-size: 20px!important; text-align: center!important; }
	
	#header p {
		font-size: 10px!important;
		letter-spacing: 1px!important;	
	}
	
	#works,
	#works_home,
	#biography,
	#footer,
	#copyright,
	#awards
	{ width: 600px!important;}
	
	#works, #works_home {
		padding: 29px 30px 10px 30px!important; 
	}
	
	#works_home img, #featured_project img {
		max-width: 100%!important;
	}
	
	#awards img{
		max-width: 100%!important;
	}
	
	#awards_third,
	#awards_fourth{
		padding: 20px 0 30px!important;
	}
	
	#biography{
		min-height: 320px!important;
		height: auto!important;
		padding: 0px 30px 0px 30px!important;
	}
	
	#bio_slider {
		width: 280px!important;
		padding-right: 30px!important;
	}
	
	#bio_slider img { width: 280px!important; padding-bottom: 5px!important; }
	
	#experience { 
		width: 270px!important; 
	}
	
	#experience h5, #personal_info h5{ 
		text-align: left!important;
	 }
	
	#contact { display: none!important; }
	 
	#email, 
	#message { 
		width: 43%!important;
		min-height: 100px!important;
		height: auto!important; 
	}
	
	#otherworks{
		width: 43%!important;
	}
	
	#otherworks img{
		margin-right: 20px!important;
	}
	
	#otherworks p{
		clear: both!important;
	}
	
	#message { padding-bottom: 20px!important; }
	
	input, textarea {
		width: 250px!important;
		padding: 5px 0 5px 6px!important;
	}
	
	#otherworks img {
		width: 89px!important;
		height: 41px!important;
		margin: 2px 40px 16px 0!important;
	}
	
	textarea { height: 58px!important; }	
	
	#works #description{
		width: 20%!important;
	}
	
	#works #gallery{
		width: 75%!important;
	}
	
	#works img{
		width: 80%!important;
	}
	
	#copyright{
		text-align: right!important;
		font-style: italic!important;
		margin-bottom: 20px!important;
	}
	
	.portfolio li {
    	float: left!important;
    	margin-left: -10px!important;
	}

} /* End Screen Size: 680px to 854px */


/* Screen Size: 360px to 679px */
@media screen and (min-width: 360px) and (max-width: 679px)
{
	#wrapper, #footer_wrapper { width: 360px!important; }
	
	#navigation { width: 340px!important; height: 50px!important; clear: both!important; }
	
	#title, #menu { width: 100%!important; margin-bottom: -5px!important; clear: both!important; }
	
	#title {
		text-align: center!important;
		padding-left: 0!important;
		float: none!important;
	}
	
	#menu {
		float: none!important;
		margin: 0 auto!important;
		text-align: center!important;
		clear: both!important;
	}
	
	#menu ul {
		text-align: center!important;
		padding-top: 0px!important;
	}

	#menu ul li {
		font-weight: normal!important;
		padding: 0 10px!important;
		display: inline!important;
		font-size: 14px!important;
		text-transform: uppercase!important;
	}
	
	#header { width: 340px!important; }
	#header h1 { padding-top: 40px!important; font-size: 20px!important; text-align: center!important; }
	#header p { letter-spacing: normal!important; } 
	
	#works,
	#works_home,
	#biography,
	#footer,
	#copyright,
	#featured_project { width: 340px!important;}
	
	#featured_project .text {
		width: 100%!important;
		text-align: center!important;
	}
	
	#featured_project {
		clear: both!important;
		height: auto!important;
		margin-top: 20px!important;
	}
	
	#featured_project a img{
		float: none!important;
	}
	
	#awards{
		margin-top: 30px!important;
	}
	
	#awards,
	#awards_first,
	#awards_second,
	#awards_third,
	#awards_fourth{
		width: 100%!important;
	}
	
	#awards h3, #awards h6{
		text-align: center!important;
	}
	
	#awards_first,
	#awards_second,
	#awards_third,
	#awards_fourth{
		padding-bottom: 30px!important;
	}
	
	#works #description, #works #gallery{
		float: none!important;
		width: 100%!important;
	}
	
	#works #description{
		text-align: center!important;
		height: auto!important;
		min-height: 0!important;
	}
	
	dt, dd{
		padding: 0!important;
		margin: 0!important;
		float: none!important;
		text-align:center!important;
	}
	
	.filter li {
		display: inline!important;
		font-size: 12px!important;
	}
	
	.filter li:after {
		content: "|"!important;
	}
	
	.portfolio li{
		margin: 0!important;
	}
	
	#works, #works_home {
		padding: 29px 20px 10px 20px!important; 
	}
	
	#works_home img {
		max-width: 100%!important;
		padding: 1px!important;	
		width: 95%!important;	
	}
	
	#biography{
		margin-top: 50px!important;
		/*padding-bottom: 40px!important;*/
		min-height: 520px!important;
		height: auto!important;
		padding: 0px 30px 0px 30px!important;
		/*margin-bottom: -40px!important; */
	}
	
	#bio_slider {
		width: 90%!important;
	}
	
	#bio_slider img { 
		max-width: 100%!important;
		padding-bottom: 5px!important; 
	}
	
	#experience, #personal_info { 
		width: 90%!important; 
		padding: 25px 0!important;
	}
	
	#experience h5, #personal_info h5{ 
		text-align: left!important;
	 }
	 
	 #experience h4, #personal_info h4{
	 	font-size: 16px!important;
	 }
	
	#contact { display: none!important; }
	 
	#email, 
	#message, 
	#otherworks { 
		width: 90%!important;
		min-height: 100px!important;
		height: auto!important; 
	}
	
	#message { padding-bottom: 20px!important; }
	
	input, textarea {
		width: 230px!important;
		padding: 5px 0 5px 6px!important;
	}
	
	#otherworks img {
		width: 89px!important;
		height: 41px!important;
		margin: 2px 20px 16px 0!important;
	}
	
	#otherworks p{
		clear: both!important;
	}
	
	textarea { height: 58px!important; }	
	
	#copyright{
		text-align: center!important;
		font-style: italic!important;
		margin-bottom: 20px!important;
		width: 95%!important;
	}
	
} /* End Screen Size: 360px to 679px */


@media screen and (min-width: 0px) and (max-width: 359px)
{
	#wrapper, #footer_wrapper { width: 200px!important; }
	
	#wrapper{ margin-top: 30px!important; }
	
	#navigation { width: 180px!important; }
	
	#navigation { height: 50px!important; }
	
	#title, #menu { margin-bottom: -5px!important; }
	
	#title {
		width: 100%!important;
		float:none!important;
		text-align: center!important;
		padding: 0!important;
		margin-top: -10px!important;
	}
	
	#title h1 { 
		font-size: 15px!important; 
		display: block!important; 
	}
	
	#menu {
		width: 180px!important;
		float: none!important;
		text-align: center!important;
		margin: 15px 0 40px!important;
	}
	
	#menu ul {
		text-align: center!important;
		padding-top: 0px!important;
	}

	#menu ul li {
		font-weight: normal!important;
		padding: 0 10px!important;
		display: inline!important;
		font-size: 12px!important;
		text-transform: uppercase!important;
	}
	
	#menu ul li a.active{
		font-weight: bold!important;
	}
	
	#header { width: 180px!important; }
	#header h1 { padding-top: 40px!important; font-size: 17px!important; text-align: center!important; }
	#header p { letter-spacing: normal!important; }
	
	#works,
	#works_home,
	#biography,
	#footer,
	#copyright,
	#featured_project { width: 180px!important; }
	
	#featured_project .text {
		float: none!important;
		text-align:center!important;
		width: 100%!important;
	}
	
	#featured_project .text h2{
		font-size: 21px!important;
		letter-spacing: -1px!important;
	}
	
	.featured_project img.monitor{
		max-width: 100%!important;
		float: none!important;
		width: 100%!important;
	}
	
	#awards h3, #awards h6{
		text-align: center!important;
		letter-spacing: -1px!important;
	}
	
	#awards h3{
		font-size: 21px!important;
		line-height: 25px!important;
	}
	
	#awards h6{
		font-size: 12px!important;
	}
	
	#awards_first,
	#awards_second,
	#awards_third,
	#awards_fourth{
		width: 100%!important;
		padding-bottom: 20px!important;
		text-align: center!important;
	}
	
	#awards_first img,
	#awards_second img,
	#awards_third img,
	#awards_fourth img{
		max-width: 100%!important;
	}
	
	#works{
		padding:5px 0 0 0!important;
	}
	
	#works #description, #works #gallery{
		width: 100%!important;
		float: none!important;
		text-align: center!important;
		padding: 0!important;
		min-height: 0!important;
	}
	
	#works #gallery{
		margin: 0 auto!important;
	}
	
	.portfolio li{
		float: none!important;
	}
	
	.portfolio li img{
		max-width: 100%!important;
	}
	
	#works h3{
		font-size: 21px!important;
		letter-spacing: -1px!important;
		text-align: center!important;
	}
	
	dt, dd{
		margin: 0!important;
		float: none!important;
		text-align: center!important;
	}
	
	#works_home {
		padding: 29px 0 40px!important; 
	}
	
	#works_home img {
		float: none!important;
		max-width: 100%!important;
	}
	
	#biography{
		margin-top: 30px!important;
		min-height: 480px!important;
		height: auto!important;
		padding: 0px 30px 0px 30px!important;
		margin-bottom: 0px!important; 
		width: 180px!important;
	}
	
	#biograpy h4  { font-size: 14px!important; }
	
	#bio_slider, #bio_slider img {
		display: none!important;
	}
	
	#experience, #personal_info { 
		width: 90%!important; 
		padding: 18px 0!important;
	}
	
	#experience h4, #personal_info h4{ 
		text-align: left!important;
		font-size: 13px!important;
	 }
	
	#contact { display: none!important; }
	 
	#email, 
	#message, 
	#otherworks { 
		width: 120px!important;
		min-height: 100px!important;
		height: auto!important; 
	}
	
	#message { padding-bottom: 20px!important; }
	
	input, textarea {
		width: 120px!important;
		padding: 5px 0 5px 6px!important;
	}
	
	#otherworks img {
		width: 89px!important;
		height: 41px!important;
		margin: 2px 10px 5px 0!important;
	}
	
	textarea { height: 58px!important; }	
	
	#copyright{
		text-align: center!important;
		font-style: italic!important;
		margin-bottom: 20px!important;
	}
	
	#copyright a { display: block!important; }
} /* End Screen Size: 200px to 359px */