@charset "utf-8";
/* CSS Document */


/* Screen Size: 768px to 960px */
@media screen and (min-width: 855px) and (max-width: 1090px)
{
	#wrapper, #footer_wrapper { width: 768px; }
	
	#navigation,
	#header,
	#featured_project { width: 748px; }
	
	#header h1{
		font-size: 25px;
	}
	
	#title {
		width: 350px;
		padding-left: 24px;
	}
	
	#menu {
		width: 346px;
		padding-right: 28px;
	}
	
	#works,
	#works_home,
	#biography,
	#footer,
	#copyright,
	#awards
	{ width: 695px; }
	
	#awards_first,
	#awards_second,
	#awards_third,
	#awards_fourth{
		width: 50%;
	}
	
	#awards_third,
	#awards_fourth{
		padding: 20px 0 30px!important;
	}
	
	#awards_first img,
	#awards_second img,
	#awards_third img,
	#awards_fourth img{
		max-width: 100%;
	}
	
	#works, #works_home {padding: 39px 32px 0px 28px; }
	
	#works_home img,
	#featured_project img {
		max-width: 100%;
	}

	#works #description{
		width: 20%;
	}
	
	#works .filter li a{
		font-size: 12px!important;
	}

	#works #gallery{
		width: 75%;
	}

	#biography { 
		padding-top: 8px;  
		min-height: 100px;	
		padding-bottom: 70px;
	}
	
	#bio_slider {
		width: 46%;
		padding-right: 20px;
	}
	
	#bio_slider img { 
		width: 100%; 
		padding-bottom: 10px; 
	}
	
	#experience, #personal_info { 
		width: 48%; 
		padding-left: 11px;
		height: auto!important;
		min-height: 100px;	
	}
	
	#experience h5, #personal_info h5{ 
		text-align: left;
		font-size: 11px;
	 }
	 
	 #contact, #email { 
		width: 150px; 
		padding-right: 20px;
	}
	
	#message {
		width: 156px;
		padding-right: 21px;
	}
	
	input, textarea {
		width: 150px;
		padding: 5px 0 5px 6px;
	}
	
	#otherworks {
		width: 171px;
	}
	
	#otherworks img {
		width: 78px;
		height: 36px;
		margin: 2px 5px 11px 0;
	}
	
	textarea { height: 58px; }
	
} /* End Screen Size: 768px to 800px */


/* Screen Size: 680px to 854px */
@media screen and (min-width: 680px) and (max-width: 854px)
{
	h4 { font-size: 16px; }
	
	#wrapper, #footer_wrapper { width: 680px; }
	
	#navigation, #header, #featured_project { width: 660px; }
	
	#navigation { height: 50px; }
	
	#title, #menu { margin-bottom: -5px!important; }
	
	#title {
		width: 300px;
		float:left;
	}
	
	#menu {
		width: 300px;
		float: right;
	}
	
	#menu ul {
		padding-top: 6px;
	}

	#menu ul li {
		font-weight: bold;
		padding: 0 10px;
		display: inline;
		font-size: 12px;
		text-transform: uppercase;
	}
	
	#header h1 { padding-top: 30px; font-size: 20px; text-align: center; }
	
	#header p {
		font-size: 10px;
		letter-spacing: 1px;	
	}
	
	#works,
	#works_home,
	#biography,
	#footer,
	#copyright,
	#awards
	{ width: 600px;}
	
	#works, #works_home {
		padding: 29px 30px 10px 30px; 
	}
	
	#works_home img, #featured_project img {
		max-width: 100%;
	}
	
	#awards img{
		max-width: 100%;
	}
	
	#awards_third,
	#awards_fourth{
		padding: 20px 0 30px;
	}
	
	#biography{
		min-height: 320px;
		height: auto;
		padding: 0px 30px 0px 30px;
	}
	
	#bio_slider {
		width: 280px;
		padding-right: 30px;
	}
	
	#bio_slider img { width: 280px; padding-bottom: 5px; }
	
	#experience { 
		width: 270px; 
	}
	
	#experience h5, #personal_info h5{ 
		text-align: left;
	 }
	
	#contact { display: none; }
	 
	#email, 
	#message { 
		width: 43%;
		min-height: 100px;
		height: auto; 
	}
	
	#otherworks{
		width: 43%;
	}
	
	#otherworks img{
		margin-right: 20px!important;
	}
	
	#otherworks p{
		clear: both;
	}
	
	#message { padding-bottom: 20px; }
	
	input, textarea {
		width: 250px;
		padding: 5px 0 5px 6px;
	}
	
	#otherworks img {
		width: 89px;
		height: 41px;
		margin: 2px 40px 16px 0;
	}
	
	textarea { height: 58px; }	
	
	#works #description{
		width: 20%;
	}
	
	#works #gallery{
		width: 75%;
	}
	
	#works img{
		width: 80%;
	}
	
	#copyright{
		text-align: right;
		font-style: italic;
		margin-bottom: 20px;
	}
	
	.portfolio li {
    	float: left;
    	margin-left: -10px;
	}

} /* End Screen Size: 680px to 854px */


/* Screen Size: 360px to 679px */
@media screen and (min-width: 360px) and (max-width: 679px)
{
	#wrapper, #footer_wrapper { width: 360px!important; }
	
	#navigation { width: 340px; height: 50px; clear: both; }
	
	#title, #menu { width: 100%!important; margin-bottom: -5px!important; clear: both; }
	
	#title {
		text-align: center;
		padding-left: 0;
		float: none!important;
	}
	
	#menu {
		float: none!important;
		margin: 0 auto!important;
		text-align: center;
		clear: both;
	}
	
	#menu ul {
		text-align: center;
		padding-top: 0px;
	}

	#menu ul li {
		font-weight: normal;
		padding: 0 10px;
		display: inline;
		font-size: 14px;
		text-transform: uppercase;
	}
	
	#header { width: 340px; }
	#header h1 { padding-top: 40px; font-size: 20px; text-align: center; }
	#header p { letter-spacing: normal!important; } 
	
	#works,
	#works_home,
	#biography,
	#footer,
	#copyright,
	#featured_project { width: 340px;}
	
	#featured_project .text {
		width: 100%;
		text-align: center;
	}
	
	#featured_project {
		clear: both;
		height: auto;
		margin-top: 20px;
	}
	
	#featured_project a img{
		float: none!important;
	}
	
	#awards{
		margin-top: 30px;
	}
	
	#awards,
	#awards_first,
	#awards_second,
	#awards_third,
	#awards_fourth{
		width: 100%;
	}
	
	#awards h3, #awards h6{
		text-align: center;
	}
	
	#awards_first,
	#awards_second,
	#awards_third,
	#awards_fourth{
		padding-bottom: 30px;
	}
	
	#works #description, #works #gallery{
		float: none;
		width: 100%;
	}
	
	#works #description{
		text-align: center;
		height: auto;
		min-height: 0;
	}
	
	dt, dd{
		padding: 0!important;
		margin: 0!important;
		float: none!important;
		text-align:center!important;
	}
	
	.filter li {
		display: inline!important;
		font-size: 12px!important;
	}
	
	.filter li:after {
		content: "|";
	}
	
	.portfolio li{
		margin: 0!important;
	}
	
	#works, #works_home {
		padding: 29px 20px 10px 20px; 
	}
	
	#works_home img {
		max-width: 100%;
		padding: 1px;	
		width: 95%;	
	}
	
	#biography{
		margin-top: 50px!important;
		/*padding-bottom: 40px;*/
		min-height: 520px;
		height: auto;
		padding: 0px 30px 0px 30px;
		margin-bottom: -40px; 
	}
	
	#bio_slider {
		width: 90%;
	}
	
	#bio_slider img { 
		max-width: 100%;
		padding-bottom: 5px; 
	}
	
	#experience, #personal_info { 
		width: 90%; 
		padding: 25px 0;
	}
	
	#experience h5, #personal_info h5{ 
		text-align: left;
	 }
	 
	 #experience h4, #personal_info h4{
	 	font-size: 16px;
	 }
	
	#contact { display: none; }
	 
	#email, 
	#message, 
	#otherworks { 
		width: 90%;
		min-height: 100px;
		height: auto; 
	}
	
	#message { padding-bottom: 20px; }
	
	input, textarea {
		width: 230px;
		padding: 5px 0 5px 6px;
	}
	
	#otherworks img {
		width: 89px;
		height: 41px;
		margin: 2px 20px 16px 0;
	}
	
	#otherworks p{
		clear: both;
	}
	
	textarea { height: 58px; }	
	
	#copyright{
		text-align: center;
		font-style: italic;
		margin-bottom: 20px;
		width: 95%;
	}
	
} /* End Screen Size: 360px to 679px */


@media screen and (min-width: 0px) and (max-width: 359px)
{
	#wrapper, #footer_wrapper { width: 200px; }
	
	#wrapper{ margin-top: 30px; }
	
	#navigation { width: 180px; }
	
	#navigation { height: 50px; }
	
	#title, #menu { margin-bottom: -5px!important; }
	
	#title {
		width: 100%;
		float:none;
		text-align: center;
		padding: 0;
		margin-top: -10px;
	}
	
	#title h1 { 
		font-size: 15px; 
		display: block; 
	}
	
	#menu {
		width: 180px;
		float: none;
		text-align: center;
		margin: 15px 0 40px!important;
	}
	
	#menu ul {
		text-align: center;
		padding-top: 0px;
	}

	#menu ul li {
		font-weight: normal;
		padding: 0 10px;
		display: inline;
		font-size: 12px;
		text-transform: uppercase;
	}
	
	#menu ul li a.active{
		font-weight: bold;
	}
	
	#header { width: 180px; }
	#header h1 { padding-top: 40px; font-size: 17px; text-align: center; }
	#header p { letter-spacing: normal; }
	
	#works,
	#works_home,
	#biography,
	#footer,
	#copyright,
	#featured_project { width: 180px; }
	
	#featured_project .text {
		float: none;
		text-align:center;
		width: 100%;
	}
	
	#featured_project .text h2{
		font-size: 21px;
		letter-spacing: -1px;
	}
	
	.featured_project img.monitor{
		max-width: 100%!important;
		float: none;
		width: 100%!important;
	}
	
	#awards h3, #awards h6{
		text-align: center;
		letter-spacing: -1px;
	}
	
	#awards h3{
		font-size: 21px;
		line-height: 25px;
	}
	
	#awards h6{
		font-size: 12px;
	}
	
	#awards_first,
	#awards_second,
	#awards_third,
	#awards_fourth{
		width: 100%;
		padding-bottom: 20px;
		text-align: center;
	}
	
	#awards_first img,
	#awards_second img,
	#awards_third img,
	#awards_fourth img{
		max-width: 100%!important;
	}
	
	#works{
		padding:5px 0 0 0;
	}
	
	#works #description, #works #gallery{
		width: 100%;
		float: none;
		text-align: center!important;
		padding: 0;
		min-height: 0;
	}
	
	#works #gallery{
		margin: 0 auto!important;
	}
	
	.portfolio li{
		float: none!important;
	}
	
	.portfolio li img{
		max-width: 100%;
	}
	
	#works h3{
		font-size: 21px;
		letter-spacing: -1px;
		text-align: center!important;
	}
	
	dt, dd{
		margin: 0;
		float: none;
		text-align: center;
	}
	
	#works_home {
		padding: 29px 0 40px; 
	}
	
	#works_home img {
		float: none;
		max-width: 100%;
	}
	
	#biography{
		margin-top: 30px!important;
		min-height: 480px;
		height: auto;
		padding: 0px 30px 0px 30px;
		margin-bottom: -40px; 
		width: 180px;
	}
	
	#biograpy h4  { font-size: 14px!important; }
	
	#bio_slider, #bio_slider img {
		display: none;
	}
	
	#experience, #personal_info { 
		width: 90%; 
		padding: 18px 0;
	}
	
	#experience h4, #personal_info h4{ 
		text-align: left;
		font-size: 13px;
	 }
	
	#contact { display: none; }
	 
	#email, 
	#message, 
	#otherworks { 
		width: 120px;
		min-height: 100px;
		height: auto; 
	}
	
	#message { padding-bottom: 20px; }
	
	input, textarea {
		width: 120px;
		padding: 5px 0 5px 6px;
	}
	
	#otherworks img {
		width: 89px;
		height: 41px;
		margin: 2px 10px 5px 0;
	}
	
	textarea { height: 58px; }	
	
	#copyright{
		text-align: center;
		font-style: italic;
		margin-bottom: 20px;
	}
	
	#copyright a { display: block; }
} /* End Screen Size: 200px to 359px */