@charset "utf-8";
/* CSS3 Document */
/* CSS3 Author : MILLICENT JANE F. PILAYRE */
/* Copyright 2013. All Rights Reserved */


/* FOR IE 6*/

/* END IE 6 */

/* MAIN SETTINGS */
@font-face {
    font-family: Trajan Pro;
    src: url("TRAJANPRO-REGULAR.OTF");
	font-weight: normal;
}

body, p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4b4b4b;
}

.clear { clear: both; }

*,
#wrapper,
#footer_container,
#footer_wrapper,
#navigation,
#header,
#featured_project,
#works,
#works_home,
#biography,
#blog,
#footer,
#copyright,
#awards {
	margin: 0 auto;
	padding: 0;
}

#wrapper,
#footer_wrapper { 
	width: 960px; 
}

#footer_container, #footer_wrapper {
	background-color: #494949;
}

#navigation_container, #footer_container { width: 100%; }

#navigation,
#header ,
#featured_project
{
	width: 940px;
}

#works,
#works_home,
#awards,
#biography,
#blog,
#footer,
#copyright {
	padding: 0 32px 0 28px;
	width: 880px;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Trajan Pro', Arial; font-weight: normal;}

h1{ font-size: 38px; }
h2 { font-size: 28px; }
h3{ font-size: 20px; }
h4{ font-size: 19px; }
h5 { font-size: 15px; }
h6 { font-size: 12px; }

/* END OF MAIN SETTINGS */

/* NAVIGATION */
#navigation_container{
	background: url(images/navigation_wrapper.jpg) center top repeat-x!important;
}

#navigation{
	height: 75px;
	padding-top: 40px;
}

#title, #menu { height: 49px; }

#title {
	padding-left: 28px;
	float: left;
	width: 418px;
}

#title h1 { 
	font-size: 18px; 
	color: #4b4b4b;
	font-weight: normal;
	letter-spacing: -1px;
}

#menu {
	float: right;
	width: 461px;
	padding-right: 32px;
}

#menu ul {
	text-align: right;
	padding-top: 5px;
}

#menu ul li {
	padding-left: 15px;
	display: inline;
	font-family: 'Trajan Pro', Arial;
	font-size: 13px;
	font-weight: bold;
}

#menu ul li a{
	text-decoration: none;
	color: #7d7d7d;
}

#menu ul li a:hover, #menu ul li a.active {
	color: #000;
}
/* END OF NAVIGATION */


/* Following Settings are for the HOME PAGE */

/* HEADER */
#header {
	text-align: center;
	padding-bottom: 30px;
}

#header h1 { 
	padding-top: 13px;
	font-weight: normal!important;
	font-size: 28px;
	letter-spacing: -2px;
}

#header p {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
	color: #9c9c9c;
	letter-spacing: 3px;
	font-size: 11px;
}

/* END OF HEADER */


#works h4, #works_home h4 #biography h4 { padding-bottom: 10px; }
#works p, #works_home p, #biography p {
	display: inline;
	font-weight: normal;
}


/* START OF BIOGRAPHY */
#biography{
	padding-bottom: 60px;
	padding-top: 20px;
	height: 225px;
	font-weight: normal;
}

#biography a {
	color: #FFF;
	text-decoration: none;
}

#bio_slider, #experience {
	float: left;
}

#bio_slider {
	padding-right: 6px;
	width: 352px;
}

#bio_slider p{
	text-align: right!important;
	float: right;
	font-size: 13px;
}

#bio_slider p.first{
	text-align: right!important;
	float: right;
	font-size: 13px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#bio_slider img { padding-bottom: 10px; }

#experience{
	width: 500px;
	padding-left: 14px;
	text-align: justify;
}

#experience h5{
	padding-bottom: 10px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
	font-size: 12px;
}

.button {
	padding: 3px 7px;
	font-weight: bold!important;
	background: #7a7a7a;
	color: #FFF;
}

/* END OF BIOGRAPHY */

/* START OF FOOTER */

#footer {
	margin-bottom: 20px;
	color: #e5e5e5;
	padding-bottom: 30px;
}

#footer a { 
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#footer a:hover { color: #e5e5e5; text-decoration: underline; }

#contact h5,
#email h5,
#otherworks h5,
#message h5 {  
	border-bottom: 1px solid #707070;
	padding-bottom: 10px;
	color: #c4c4c4;
	font-weight: normal;
}

#message h5 { 
	margin-bottom: -5px!important;
}

#contact,
#email,
#message,
#otherworks {
	padding-top: 35px;
	float: left;
	height: auto;
	min-height: 200px;
}

#contact, #email { 
	width: 171px; 
	padding-right: 41px;
}

#email p,
input,
#otherworks p {
	margin-top: 15px;
	color: #e5e5e5;
	line-height: 18px;
}

#message {
	width: 214px;
	padding-right: 41px;
}

input, textarea { 
	width: 204px; 
	font-size: 11px;
	color: #404040;
	padding: 5px 0 5px 10px;
	border: 1px solid #c7c7c7;
	background-color: #a1a1a1;
	margin-bottom: 3px;
}

textarea {
	margin-top: 15px;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 70px;
}

#otherworks {
	width: 201px;
}

#otherworks p{
	font-size: 11px;
}

/*#otherworks img {
	width: 89px;
	height: 41px;
	margin: 2px 9px 8px 0;
	float: left;
	border: 1px solid #9f9f9f;
}*/

#message #submit, #message #reset{
	width: 47%;
	margin-left: 2px;
	margin-right: 4px;
}

#cntactform label{
	font-size: 10px;
	line-height: 10px!important;
	padding: 0!important;
	margin: 0!important;
	margin-top: -2px!important;
}

#cntactform input, #cntactform textarea{
	margin-top: 5px!important;
}

/* END OF FOOTER */

/* End of HOME PAGE Settings */


/* Start of WORKS PAGE Settings */

/* Featured Project */
#featured_project{
	height: 498px;
}

#featured_project img{
	float: left;
	max-width: 100%;
}

#featured_project .text {
	padding-top: 150px;
}

.text h6{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px
}

/* End of Featured Project */


/* Awards and Recognitions */
#awards {
	padding: 20px 0;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
}

#awards h3{
	line-height: 32px;
}

#awards_first,
#awards_second,
#awards_third,
#awards_fourth{
	width: 220px;
	height: 300px;
	float: left;
	text-align: center;
}

/* End of Awards and Recognitions */



/* Selected Works */
#works{
	height: auto;
	padding-top: 80px;
	padding-bottom: 20px;
}
/* End of Selected Works */

#works #description{
	width: 200px;
	float: left;
	text-align: right;
	padding-right: 28px;
	min-height: 420px;
}

#works #description p{
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#works #gallery{
	width: 652px;
	float: right;
}

#works img{
	margin-left: 13px; 
	margin-bottom: 13px;
	border: none;
}
/* End of WORKS PAGE Settings */






/* START OF COPYRIGHT */

#copyright{
	text-align: right;
	font-style: italic;
	margin-bottom: 20px;
}

#copyright p {
	font-family: Georgia, "Times New Roman", Times, serif!important;
	font-size: 10px;
}

#copyright a { color: #6d6b6b; }
#copyright a:hover { color: #000; }

/* END OF COPYRIGHT */

#submit, #reset{
	width: 47%!important;
}

#submit{
	float: left!important;
}

#reset{
	float: right!important;
}